*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: consolas;
}

body{
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


span{
    position: relative;
    /* display: inline-block;  */
    padding: 8px;
    width: 80px;
    height: 80px;
    margin: 8px 4px;
    border-radius: 10px;
    background: linear-gradient(180deg, #282828,#202020 );
    box-shadow: inset -8px 0 8px rgba(0,0,0,0.15),inset 0 -8px 8px rgba(0,0,0,0.25),10px 20px 25px rgba(0,0,0,0.4);
    overflow: hidden;
 
}

span::before{
content: '';

position: absolute;
top: 3px;
left: 4px;
bottom: 14px;
right: 12px;
border-radius: 10px;
background: linear-gradient(90deg,#232323,#4a4a4a);
box-shadow: -10px -10px 10px rgba(255,255,255,0.25),10px 5px 10px rgba(0,0,0,0.15);
border-left: 1px solid #0004;
border-bottom: 1px solid #0004;
border-top: 1px solid #0009;
}

span i{
    position: relative;
    color: white;
    font-size: x-large;
    font-style: normal;
}

span:hover{
    transform: scale(0.98);
    transition: transform 0.25s;
}

@media screen and (max-width:490px) {
    body{
        margin-left: 20px;
        margin-right: 20px;
    }
    span{
        width: 60px;
        height: 60px;
    }
    span i{
        font-size: smaller;
    }
}

